<div class="topbar-menu">
	<div class="container-fluid">
		<div class="navigation" id="navigation">
			<!-- Navigation Menu-->
			
			<ul class="navigation-menu" id="navigation_menu">
				<li class="has-submenu active">
					<a href="#"><svg class="gxd-icon"><use xlink:href="#ic-manage"></use></svg> <span>Manage</span><div class="arrow-down"></div></a>
					<ul class="submenu">
						<li class="has-submenu">
							<a href="#">Club <div class="arrow-down"></div></a>
							<ul class="submenu">
								<li>
									<a href="#">Add</a>
								</li>
								<li>
									<a href="#">Move</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Terminals <div class="arrow-down"></div></a>
							<ul class="submenu">
								<li>
									<a href="#">Add</a>
								</li>
								<li>
									<a href="#">Move</a>
								</li>
								<li class="has-submenu">
									<a href="#">Jackpots <div class="arrow-down"></div></a>
									<ul class="submenu">
										<li>
											<a href="#">Add jackpots</a>
										</li>
										<li>
											<a href="#">Jackpot list</a>
										</li>
										<li>
											<a href="#">Jackpot groups for Big Display</a>
										</li>
										<li>
											<a href="#">Jackpot history</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">ATM <div class="arrow-down"></div></a>
							<ul class="submenu">
								<li>
									<a href="#">Add</a>
								</li>
								<li>
									<a href="#">Move</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
									<ul class="submenu">
										<li>
											<a href="#">Add</a>
										</li>
										<li>
											<a href="#">Move</a>
										</li>
										<li>
											<a href="#">Jackpots</a>
										</li>
										<li>
											<a href="#">Options</a>
										</li>
										<li>
											<a href="#">S/N</a>
										</li>
										<li>
											<a href="#">Jackpots</a>
										</li>
										<li>
											<a href="#">Options</a>
										</li>
										<li>
											<a href="#">S/N</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Users <div class="arrow-down"></div></a>
							<ul class="submenu">
								<li>
									<a href="#">Add</a>
								</li>
								<li>
									<a href="#">Move</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Finance <div class="arrow-down"></div></a>
							<ul class="submenu">
								<li>
									<a href="#">Add</a>
								</li>
								<li>
									<a href="#">Move</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
								<li>
									<a href="#">Jackpots</a>
								</li>
								<li>
									<a href="#">Options</a>
								</li>
								<li>
									<a href="#">S/N</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#"><svg class="gxd-icon"><use xlink:href="#ic-cashier"></use></svg> <span>Charts</span><div class="arrow-down"></div></a>
					<ul class="submenu">
						<li>
							<a href="#">Events</a>
						</li>
						<li>
							<a href="#">Unfinished operations</a>
						</li>
						<li>
							<a href="#">Cashier shift change</a>
						</li>
						<li>
							<a href="#">Registration list</a>
						</li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#"><svg class="gxd-icon"><use xlink:href="#ic-statistics"></use></svg> <span>Statistics</span><div class="arrow-down"></div></a>
					<ul class="submenu">
						<li>
							<a href="#">Flot Charts</a>
						</li>
						<li>
							<a href="#">Morris Charts</a>
						</li>
						<li>
							<a href="#">Chartist Charts</a>
						</li>
						<li>
							<a href="#">Chartjs Charts</a>
						</li>
						<li>
							<a href="#">Other Charts</a>
						</li>
					</ul>
				</li>
			</ul>
			<form action="" class="form-inline navigation-form">
				<div class="form-group">
					<input type="search" placeholder="Search" class="form-control form-control-sm" id="search">
				</div>
				<div class="form-group">
					<select class="custom-select custom-select-sm">
						<option selected>Club ID</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<div class="btn-group navbar-search-buttons">
					<button type="button" class="btn btn-primary waves-effect gdx-ico_search"></button>
					<button type="button" class="btn btn-primary waves-effect gdx-ico_go"></button>
				</div>
			</form>
			<!-- End navigation menu -->
		</div>
		<!-- end #navigation -->
	</div>
	<!-- end container -->
</div>
<!-- end navbar-custom -->