<!-- Topbar Start -->
<div class="navbar-custom">
	<div class="container-fluid d-flex justify-content-between align-items-center">
		<!-- LOGO -->
		<div class="logo-box">
			<a href="index.html" class="logo text-center">GSDeluxe</a>
		</div>

		<!-- Mobile menu toggle-->
		<a class="navbar-toggle nav-link">
			<div class="lines">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</a>
		<!-- End mobile menu toggle-->

		<div class="navbar-btn">
			<a class="btn btn-danger" href="#" role="button">Terminals ban</a>
		</div>

		<ul class="list-unstyled topnav-menu mb-0">
			<li class="dropdown notification-list">
				<a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					<span class=" ml-1">
						GlobalSlots <i class="mdi mdi-chevron-down"></i>
					</span>
				</a>
			</li>

			<li class="dropdown notification-list">
				<a class="nav-link dropdown-toggle nav-user mr-0 waves-effect lang-toggler" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					<span class="pro-user-name">
						Languages <i class="mdi mdi-chevron-down"></i>
					</span>
				</a>
				<div class="dropdown-menu" x-placement="bottom-start">
					<!-- item-->
					<div class="drop-down-header">
						<a href="#" class="dropdown-item">
							<span class="lang">English</span>
						</a>
						<a href="#" class="dropdown-item dropdown-item_checked">
							<span class="lang">Русский</span>
						</a>
						<a href="#" class="dropdown-item">
							<span class="lang">Deutsch</span>
						</a>
						<a href="#" class="dropdown-item">
							<span class="lang">Espanol</span>
						</a>
						<a href="#" class="dropdown-item">
							<span class="lang">Albania</span>
						</a>
						<a href="#" class="dropdown-item">
							<span class="lang">Italiano</span>
						</a>
					</div>
				</div>
			</li>
			<li class="dropdown notification-list">
				<a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					<svg class="gxd-icon">
						<use xlink:href="#ic-avatar"></use>
					</svg>
					<span class="pro-user-name ml-1">
						c12_h <i class="mdi mdi-chevron-down"></i>
					</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown ">
					<a href="javascript:void(0);" class="dropdown-item notify-item">
						<span style="white-space: pre-line;">You logged in at  06.09.19 11:06:13+00:00</span>
					</a>
					<div class="dropdown-divider"></div>
					<a href="javascript:void(0);" class="dropdown-item notify-item">
						<i class="fe-log-out"></i>
						<span>Logout</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- end Topbar -->